body { 
    background: radial-gradient(circle, #1a102e 0%, #000 100%); 
    color: white; 
    margin: 0; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
    font-family: sans-serif;
}

.username { 
    font-family: 'Permanent Marker', cursive; 
    font-size: 3.8rem; 
    text-shadow: 0 0 20px #a855f7; 
    margin: 0;
    text-align: center;
}

.profile-emoji { 
    width: 180px; 
    filter: drop-shadow(0 0 25px #a855f7);
    margin-bottom: 5px;
}

.social-box {
    background: rgba(168, 85, 247, 0.15);
    border: 1.5px solid #a855f7;
    padding: 8px 18px;
    border-radius: 18px;
    display: flex;
    gap: 15px;
    margin-bottom: 20px; /* Üste çekildi */
}

.social-box img { width: 32px; height: 32px; }
.wp-icon { filter: drop-shadow(0 0 8px #25D366); }

.menu-box { width: 280px; display: flex; flex-direction: column; gap: 10px; }

.lang-selector, .menu-input {
    background: #000;
    border: 1px solid #a855f7;
    color: white;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.btn-green { 
    background: #22c55e; 
    padding: 18px; 
    border-radius: 15px; 
    border: none; 
    color: white; 
    font-weight: 900; 
    cursor: pointer;
    font-size: 1.1rem;
}

.mode-container { display: flex; flex-direction: column; gap: 15px; width: 300px; }

.mode-btn {
    padding: 22px;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.6);
}

#m-pixel { background: linear-gradient(to right, #3b82f6, #1d4ed8); }
#m-desc { background: linear-gradient(to right, #22c55e, #15803d); }
#m-emoji { background: linear-gradient(to right, #a855f7, #6b21a8); }

#game-timer { 
    font-size: 3.5rem; 
    color: #ff4444; 
    font-family: 'Permanent Marker'; 
    text-align: center;
}

.btn-back { background: none; color: #777; border: none; margin-top: 15px; cursor: pointer; font-weight: bold; }
.hidden { display: none !important; }
